#root {
  max-width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins-ExtraBold.ttf');
  font-weight: bolder;
  font-style: normal;
}

:root {
  font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(../src/assets/images/background.jpg);
  background-size: cover;
}

.logoContainer {
  background-color: #653c28;
  padding: 1vw;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.welcomeText {
  font-size: 3rem;
}

.mainLogo {
  width: 50%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 1vw;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

#armyControls {
  display: inline-flex;
  justify-content: space-evenly;
  width: 50vw;
}

#miniPreview {
  text-align: center;
}

#armyButtons {
  display: inline-flex;
  flex-direction: column;
  height: fit-content;
}

#cropContainer {
  display: inline-flex;
  justify-content: center;
  height: fit-content;
  width: 100%;
}

#numberSelector {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#numberSelectionLabel {
  font-weight: bold;
}

#armyContainer {
  margin-top: 2vw;
  display: inline-flex;
  flex-direction: column;
}

#canvasControls {
  display: flex;
  flex-direction: column;
}

.baseSelectorRadio {
  display: none;
}

.baseSelector {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 0.2vw;
}